<center>
    <form ng-submit="clientsAddCtrl.clientsAddSubmit()" novalidate name="clientsAddCtrl.form">
        <div class="header">New record</div>
        <br><br>

        <div class="img-large-border">
            <img ng-src="{{clientsAddCtrl.pic}}" class="img-large">
        </div>
        <br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Name" name="name"
                           ng-model="clientsAddCtrl.name">

                    <div ng-if="clientsAddCtrl.form.$submitted">
                        <div ng-show="clientsAddCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
					<textarea rows=5 type="text" class="form-control input" required
                              placeholder="Description" name="description"
                              ng-model="clientsAddCtrl.description">
					</textarea>

                    <div ng-if="clientsAddCtrl.form.$submitted">
                        <div ng-show="clientsAddCtrl.form.description.$error.required" class="valid">Value required
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="file" id="picFileInput" multiple
                           onchange="angular.element(this).scope().convertPicToJSON()">
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">Submit</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="clientsAddCtrl.clientsAddBack()">Back</button>
    </form>
    <br><br>
</center>