<center>
    <form ng-submit="clientsEditCtrl.clientsSubmit()" novalidate name="clientsEditCtrl.form">
        <div class="header">&nbsp;{{clientsEditCtrl.name}}</div>
        <br><br>

        <div class="img-large-border">
            <img ng-src="{{clientsEditCtrl.pic}}" class="img-large" ng-click="clientsEditCtrl.openPic()">
        </div>
 		
		<hr>
		<div ng-if="clientsEditCtrl.testArray.length > 0">
			<span ng-repeat="item in clientsEditCtrl.testArray track by $index">
				<span ng-if="item == 'blank'">
					<img ng-src="{{clientsEditCtrl.blank}}" class="img">
				</span>
				<span ng-if="item!= 'blank'">
					<img ng-src="{{item}}" class="img">
				</span>				
			</span>
		</div>
 
		<hr>
		<div class="btn btn-primary button" style="width:100%; margin-top:-20;" 
			ng-click="clientsEditCtrl.addPic()">
			Click here to add picture
		</div>
		<br><br>
		
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Name" name="name"
                           ng-model="clientsEditCtrl.name">

                    <div ng-if="clientsEditCtrl.form.$submitted">
                        <div ng-show="clientsEditCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
					<textarea rows=5 type="text" class="form-control input" required
                              placeholder="Description" name="description"
                              ng-model="clientsEditCtrl.description">
					</textarea>

                    <div ng-if="clientsEditCtrl.form.$submitted">
                        <div ng-show="clientsEditCtrl.form.description.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="file" id="picFileInput" multiple
                           onchange="angular.element(this).scope().convertPicToJSON()">
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">Submit</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="clientsEditCtrl.clientsDialog()">Delete</button>
        <br><br>
        <button type="button" class="btn btn-primary button" ng-click="clientsEditCtrl.clientsEditBack()">Back</button>
    </form>
    <div class="blanker"></div>
</center>