<center>
    <div class="header">Collection</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="categoriesEditCtrl.goToBack()">
    <hr>
    <form ng-submit="categoriesEditCtrl.categoriesSubmit()" novalidate name="categoriesEditCtrl.form">
        <div class="header">&nbsp;{{categoriesEditCtrl.name}}</div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Name" name="name"
                           ng-model="categoriesEditCtrl.name">

                    <div ng-if="categoriesEditCtrl.form.$submitted">
                        <div ng-show="categoriesEditCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
					<textarea readonly rows=5 type="text" class="form-control readonly"
                              placeholder="Groups in category"
                              ng-model="categoriesEditCtrl.groups">
					</textarea>
                </td>
            </tr>

            <tr>
                <td>
					<textarea rows=5 type="text" class="form-control input" required
                              placeholder="Description" name="description"
                              ng-model="categoriesEditCtrl.description">
					</textarea>

                    <div ng-if="categoriesEditCtrl.form.$submitted">
                        <div ng-show="categoriesEditCtrl.form.description.$error.required" class="valid">Value
                            required
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">Submit</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="categoriesEditCtrl.categoriesDialog()">Delete
        </button>
        <br><br>
        <button type="button" class="btn btn-primary button" ng-click="categoriesEditCtrl.categoriesEditBack()">Back
        </button>
    </form>
    <br><br>
</center>