<center>
    <div class="header">Collection</div>
    <br><br>
    <img ng-src="logo.jpg" width=150 height=150 ng-click="groupsEditCtrl.goToBack()">
    <hr>
    <form ng-submit="groupsEditCtrl.groupsSubmit()" novalidate name="groupsEditCtrl.form">
        <div class="header">&nbsp;{{groupsEditCtrl.name}}</div>
        <br><br>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control input" required
                           placeholder="Name" name="name"
                           ng-model="groupsEditCtrl.name">

                    <div ng-if="groupsEditCtrl.form.$submitted">
                        <div ng-show="groupsEditCtrl.form.name.$error.required" class="valid">Value required</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <input readonly type="text" class="form-control readonly"
                           placeholder="Category"
                           ng-model="groupsEditCtrl.category">
                </td>
            </tr>

            <tr>
                <td>
					<textarea rows=5 type="text" class="form-control input" required
                              placeholder="Description" name="description"
                              ng-model="groupsEditCtrl.description">
					</textarea>

                    <div ng-if="groupsEditCtrl.form.$submitted">
                        <div ng-show="groupsEditCtrl.form.description.$error.required" class="valid">Value required
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary button">Submit</button>&nbsp
        <button type="button" class="btn btn-primary button" ng-click="groupsEditCtrl.groupsDialog()">Delete</button>
        <br><br>
        <button type="button" class="btn btn-primary button" ng-click="groupsEditCtrl.groupsEditBack()">Back</button>
    </form>
    <br><br>
</center>