<center>
    <div class="header">Collection</div>
    <br><br>
    <img ng-src="logo.jpg" class="logo" ng-click="groupsDialogCtrl.goToBack()">
    <hr>
    <br>
		<span class="dialog">
				Are you sure you want to delete {{groupsDialogCtrl.name}}?
		</span>
    <br><br>
    <hr>
    <br><br>
    <button class="btn btn-primary button" ng-click="groupsDialogCtrl.groupsDelete()">Yes</button>&nbsp
    <button class="btn btn-primary button" ng-click="groupsDialogCtrl.groupsEditBack()">No</button>
    <br><br>
</center>