<center>
    <div>
		<div class="header">Collection</div>
        <br><br>
        <img ng-src="logo.jpg" class="logo">
        <br><br>
		<div>
            <hr>
                <div ng-click="mainCtrl.go('search')" class="items">Search items</div><br>
                <div ng-click="mainCtrl.go('items')" class="items">Items</div><br>
                <div ng-click="mainCtrl.go('groups')" class="items">Groups</div><br>
                <div ng-click="mainCtrl.go('categories')" class="items">Categories</div><br>
                <div ng-click="mainCtrl.go('clients')" class="items">Contacts</div><br>

                <!-- ONLY for Google Market
                -->

                <div ng-click="mainCtrl.go('users')" class="items">Users</div><br>
                <div ng-click="mainCtrl.go('login')" class="items">Logout</div><br>
                <div ng-click="mainCtrl.go('config')" class="items">Configurations</div>

            <hr>
		</div>
    </div>
</center>